<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order Summary</h1>
    <p>Name: <%= order.fname%> </p>
    <p>email: <%= order.email%> </p>
    <p>Flavor: <%= order.Flavor%> </p>
    <p>Cone: <%= order.cone%> </p>

    <% if (Array.isArray(order.toppings)) { %>
        <p>Toppings: <%= order.toppings.join(', ') %></p>
    <% } else { %>
        <p>Toppings: <%= order.toppings %> </p>
    <% } %>
    

</body>
</html>